<template>
    <div :id="imageTitle" class="background-image" :class="[imageName]">
        <h1>{{ imageTitle }}</h1>
    </div>
</template>

<script lang="ts">
export default {
    props: {
        imageName: String,
        imageTitle: String,
    }
}
</script>

<style lang="scss" scoped>
$primary: #E84545;

h1 {
    font-size: clamp(2em, 10vw, 11em);
}

.background-image {
  /* Full height */
  min-height: 20em;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.games {
    background-image: url("../assets/img/games.jpg");
  }

  &.anime {
    background-image: url("../assets/img/anime.jpg");
  }

  &.tabletop {
    /* The image used */
    background-image: url("../assets/img/tabletop.jpg");
  }

  &.development {
    background-image: url("../assets/img/development.jpg");
  }

  /* Headlines */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    transition: 200ms ease-in color;

    &:hover {
        color: $primary;
    }
    h1 {
        cursor: default;
    }
}
</style>