<template>
    <div class="cards">
        <slot></slot>
    </div>
</template>

<style lang="scss">
.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 17%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@media (min-width: 1260px) {
    .cards {
        justify-content: left;
    }
}
</style>