<template>
    <div class="card">
        <p class="card-title">{{ cardTitle }}</p>
        <div class="card-img">
            <img :src="cardImage" :alt="cardTitle" />
            <span class="card-text">{{ cardText }}</span>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    props: {
        cardTitle: String,
        cardImage: String,
        cardText: String
    }
}
</script>

<style lang="scss">
$dark: #2b2e4a;
$primary: #e84545;
.card {
    background: $dark;
    color: white;
    border-radius: 1em;
    min-width: 12em;
    max-width: 25em;
    transition: 200ms ease-in background;

    &:hover {
        background: $primary;
        .card-text {
            opacity: 100%;
        }
    }
    overflow: hidden;
}

.card-title {
    margin: 1em;
    font-size: 1.25rem;
}

.card-img {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.card-text {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    z-index: 3;
    padding: 1rem;
    color: white;
    opacity: 0%;
    transition: 200ms ease-in opacity;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
    font-size: clamp(0.1rem, 3vw, 1.25rem);
}
</style>