
<template>
    <footer>
        <div class="copyright">
            <p>
                Made with
                <a href="https://vuejs.org/" target="_blank" rel="noopener">Vue</a> &
                <a href="https://vitejs.dev/" target="_blank" rel="noopener">Vite</a>
            </p>
            <p>Copyright © 2021 Marcel Siegert</p>
        </div>

        <a href="https://gitlab.com/m4rcLs/m4rcls.de" target="_blank" rel="noopener">
            <img class="gitlab-icon" src="../assets/gitlab-brands.svg" alt="GitLab Icon" />
        </a>
    </footer>
</template>

<style lang="scss">
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    background: #2b2e4a;
    padding: 1rem;
    box-shadow: 20px black;
}

.copyright {
    color: #53598f;
}

.links {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    footer {
        flex-direction: row;
        align-items: center;
    }

    .links {
        display: flex;
        flex-direction: row;
    }
}

.gitlab-icon {
    width: 2rem;
    opacity: 50%;
    transition: 200ms ease;
    &:hover {
        opacity: 100%;
    }
}
</style>