
<template>
    <header>
        <div class="logo">Logo</div>

        <div class="links">
            <a href="/home">Home</a>
            <a href="/cv">CV</a>
            <a href="/apps">Apps</a>
            <a href="/about">About</a>
        </div>
    </header>
</template>

<style lang="scss" scoped>
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    background: #2b2e4a;
    padding: 1rem;
    box-shadow: 20px black;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin-left: 0.5rem;
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .links {
        display: flex;
        flex-direction: row;
    }
}
</style>