<template>
    <div class="profile">
     <img
        class="profile-picture"
        src="../assets/img/profile-picture.jpg"
        alt="profile picture"
      />
      <h2>Marcel "m4rcLs" Siegert</h2>
      <h3>Born 1996, Junior Web Developer 🖥️</h3>
      <p>🎮 Gamer, 🇯🇵 Otaku Connaisseur, 🎲 Rollenspiel Enthusiast</p>
      <p>🥔 Kartoffeln sind mein Brennstoff (powered by plants™ 🌱)</p>
    </div>
</template>


<style lang="scss">
.profile-picture {
    height: auto;
    width: 128px;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
</style>