<script setup lang="ts">
import BackgroundImage from '../components/BackgroundImage.vue'
import Card from '../components/Card.vue'
import Cards from '../components/Cards.vue'

import berserkImage from '../assets/img/anime/berserk.jpg';
import vinlandSagaImage from '../assets/img/anime/vinlandSaga.jpg';
import shingekiNoKyojinImage from '../assets/img/anime/shingekiNoKyojin.jpg';
import kimetsuNoYaibaImage from '../assets/img/anime/kimetsuNoYaiba.jpg';
import violetEvergardenImage from '../assets/img/anime/violetEvergarden.jpg';
import chainsawManImage from '../assets/img/anime/chainsawMan.jpg';
import psychoPassImage from '../assets/img/anime/psychoPass.jpg';
import mononokeImage from '../assets/img/anime/princessMononoke.jpg';

</script>

<template>
    <BackgroundImage image-name="anime" image-title="Manga & Anime" />
    <Cards>
        <Card
            card-title="Berserk"
            :card-image="berserkImage"
            card-text="Über 30 Jahre lief die Dark-Fantasy Reise des schwarzen Schwertkämpfers Guts. Nach seinem großen Verlust kämpft er erfüllt durch Zorn gegen das Schicksal und die Kausalität der Welt, um das zurück zu erlangen was er einst verlor."
        />
        <Card
            card-title="Vinland Saga"
            :card-image="vinlandSagaImage"
            card-text="Eine epische Erzählung im frühmittlealterlichen Europa die die grausamen Schrecken des Krieges zeigt. Ein Mann möchte diesen Teufelskreis aus Hass und Gewalt brechen und ein Land westlich des Atlantiks gründen in dem jeder in Frieden leben kann."
        />
        <Card
            card-title="Shingeki No Kyojin"
            :card-image="shingekiNoKyojinImage"
            card-text="Attack on Titan startet als Action-Horror Anime und endet als philosophisches Kriegsdrama. Ein wandelbarer Epos der viele Facetten der menschlichen Geschichte und selbsterklärter Überlegenheit thematisiert."
        />
        <Card
            card-title="Kimetsu No Yaiba"
            :card-image="kimetsuNoYaibaImage"
            card-text="Bei Nacht stellen sich Schwertkämpfer in diesem fiktiven feudalen Japan gegen übermächtige Teufel, um die Menschheit zu beschützen. Ein wunderschöner Art-Style inszeniert Familie und Vergebung statt Rache und Zorn."
        />
        <Card
            card-title="Violet Evergarden"
            :card-image="violetEvergardenImage"
            card-text="Als AKORA lernt Violet auf einer emotionalen Reise nach langen Jahren des Krieges die Gefühle der Menschen zu verstehen und hilft ihnen ihre Emotionen in Briefe zu verfassen. Immer mehr sehnt sie sich dabei nach dem verschollenen Soldaten, der sie liebte."
        />
        <Card
            card-title="Chainsaw Man"
            :card-image="chainsawManImage"
            card-text="Denji war ein normaler Jugendlicher der eines Tages zum Kettensägenteufel wurde - Seitdem ist der Name Programm. Splatter-reiche Achterbahnfahrt mit over-the-top Action und unvorhersehbaren Wendungen"
        />
        <Card
            card-title="Psycho Pass"
            :card-image="psychoPassImage"
            card-text="In Psycho Pass wird die Psyche jedes Menschen von einer KI analysiert und als Indikator für Festnahmen und Ausschaltungen verwendet. Eine Serie an Morden wirft immer mehr Fragen auf, auch an der Funktionalität des Psycho Passes. Ist die KI doch fehlbar?"
        />
        <Card
            card-title="Prinzessin Mononoke"
            :card-image="mononokeImage"
            card-text="Studio Ghibli begeistert seit mehreren Jahrzehnten millionenfach Zuschauer aller Generationen. Mein Lieblingsfilm von Hayao Miyazki ist Prinzessin Monoke in der das Hauptmotiv die Schäden der Industrialisierung an der Umwelt aufzeigt."
        />
    </Cards>
</template>