<script setup lang="ts">
import BackgroundImage from '../components/BackgroundImage.vue'
import Card from '../components/Card.vue'
import Cards from '../components/Cards.vue'

import goImage from '../assets/img/development/go.jpg';
import pythonImage from '../assets/img/development/python.jpg';
import dockerImage from '../assets/img/development/docker.jpg';
import typescriptImage from '../assets/img/development/typescript.jpg';
import vueImage from '../assets/img/development/vue.jpg';
import vsCodeImage from '../assets/img/development/vscode.jpg';
import gitlabImage from '../assets/img/development/gitlab.jpg';
import linuxImage from '../assets/img/development/linux.jpg';

</script>

<template>
    <BackgroundImage image-name="development" image-title="Development" />
    <Cards>
        <Card
            card-title="Go"
            :card-image="goImage"
            card-text="Go ist C für das 21. Jahrhundert. Mit simpler Syntax können performante Anwendungen geschrieben werden, während die mitgelieferten Tools ein tolles Entwicklungserlebnis bietet. Go ist vielleicht nicht perfekt, aber für mich kommt es dem sehr nahe."
        />
        <Card
            card-title="Python"
            :card-image="pythonImage"
            card-text="Python bietet mit seiner riesigen Open Source Community eine Bibliothek für jeden erdenklichen Verwendungszweck. Wenn es nicht um Ausführungs- sondern um Entwicklungsgeschwindigkeit geht, ist Python ungeschlagen."
        />
        <Card
            card-title="Docker"
            :card-image="dockerImage"
            card-text="Docker ist ein Big-Player im Virtualisierungsmarkt und löste mit seiner Erscheinung einen regelrechten Containerization-Boom aus. Mittlerweile gibt es viele Alternativen für verschieden Anwendungsfälle aber Docker bleibt weiterhin ein Platzhirsch."
        />
        <Card
            card-title="TypeScript"
            :card-image="typescriptImage"
            card-text="Mit TypeScript hat Microsoft den nächsten logischen Schritt nach JavaScript geliefert. TypeScript macht es um ein Vielfaches leichter komplexe Webanwendungen zu schreiben, ohne die Vorteile von JavaScript über Bord zu werfen."
        />
        <Card
            card-title="Vue"
            :card-image="vueImage"
            card-text="Frontend-Frameworks gibt es wie Sand am Meer, doch für mich hat Vue einen besonderen Platz in meinem Herzen. Mit seinem progressivem Ansatz und seiner enormen Community ist es leicht zu lernen und vielseitig einsetzbar."
        />
        <Card
            card-title="VS Code"
            :card-image="vsCodeImage"
            card-text="VS Code ist vielleicht keine IDE aber der umfangreichste und vielseitigste Text-Editor der auch noch bedienbar ist. (no h8 vim und emac user). Eine schier grenzlose Anzahl an Erweiterungen hält ein individuelles Entwicklererlebnis für jeden bereit."
        />
        <Card
            card-title="GitLab"
            :card-image="gitlabImage"
            card-text="GitLab ist für mich der One-Stop-Shop für Code-Verwaltung, Software-Versionierung, Continuous Integration und Delivery. Es ist kostenlos, Open Source und kann selbst gehostet werden."
        />
        <Card
            card-title="Linux"
            :card-image="linuxImage"
            card-text="Für mich ist Linux die perfekte Entwicklungsumgebung. Debian bietet eine stabile Distro die jahrelang getestet wurde und sich stetig weiterentwickelt, während Manjaro das Arch-Ökosystem (AUR) für jeden Nutzer zugänglich und bedienbar macht."
        />
    </Cards>
</template>