<script setup lang="ts">
import BackgroundImage from '../components/BackgroundImage.vue'
import Card from '../components/Card.vue'
import Cards from '../components/Cards.vue'


import backgroundImage from '../assets/img/games.jpg'
import witcherImage from '../assets/img/games/witcher3.jpg';
import nierImage from '../assets/img/games/nier.jpg';
import falloutImage from '../assets/img/games/fallout.jpg';
import darkSoulsImage from '../assets/img/games/darkSouls.jpg';
import yakuzaImage from '../assets/img/games/yakuza.jpg';
import deusExImage from '../assets/img/games/deusEx.jpg';
import legendOfZeldaImage from '../assets/img/games/legendOfZelda.jpg';
import journeyImage from '../assets/img/games/journey.jpg';

</script>

<template>
    <BackgroundImage image-name="games" image-title="Games" :image="backgroundImage" />
    <Cards>
        <Card
            card-title="The Witcher"
            :card-image="witcherImage"
            card-text="Die Spiele um den Hexer Geralt von Riva überzeugen mich mit einer authentischen und tristen mittelalterlichen Low-Fantasy Welt voller packender Erzählungen in denen moralische Entscheidungen nicht nur Schwarz und Weiß sind."
        />
        <Card
            card-title="NieR"
            :card-image="nierImage"
            card-text="Yoko Taro's melodramatische Seifenoper kombiniert typisch japanische Inszenierung, komplex verstrickte Handlungen und einen hervorragend komponierten Musik-Score mit philosophischen Themen über den Sinn und die Vergänglichkeit des Lebens."
        />
        <Card
            card-title="Fallout"
            :card-image="falloutImage"
            card-text="Eine post-apokalyptische Dystopie in einem fiktiven Amerika der 60er Jahre, gewürzt mit einer großen Prise schwarzen Humor, die immer wahrscheinlicher zur Realität werden könnte. Welcome to the Wasteland!"
        />
        <Card
            card-title="Dark Souls"
            :card-image="darkSoulsImage"
            card-text="Keine Spielereihe hat das letzte Jahrzehnt so stark geprägt wie Dark Souls. Das Meistwerk, mit dem From Software den Aufstieg in die Königsklasse schaffte, wird als Action-RPG wohlmöglich für immer unangefochten bleiben."
        />
        <Card
            card-title="Yakuza"
            :card-image="yakuzaImage"
            card-text="Yakuza erzählt eine fesselnde Rachegeschichte im kriminellen Milieu Japans der 80er und 90er Jahre, die häufig durch tausende Nebenbeschäftigungen voller japanischer Humor auf seltsame und bizarre Abwege geführt wird."
        />
        <Card
            card-title="Deus Ex"
            :card-image="deusExImage"
            card-text="In Deus Ex trifft Cyberpunk auf Film Noire. Eine Welt in der Konzerne mächtiger sind als Regierungen und wirtschaftliche Interessen wichtiger wiegen als menschliche Leben. Eine faszinierende Dystopie mit Parallelen zur Realität."
        />
        <Card
            card-title="The Legend Of Zelda"
            :card-image="legendOfZeldaImage"
            card-text="Die Legende um den grün-bemützten Träger des Masterswords ist eine der bekanntesten Nintendo Spielereihen, die mich vorallem mit der düsteren und melancholischen Welt von Twilight Princess in ihren Bann gezogen hat."
        />
        <Card
            card-title="Journey"
            :card-image="journeyImage"
            card-text="Journey ist eine atemberaubend schöne und unvergessliche Reise, die mit eindrucksvollen Landschaften und ohne Worte zeigt, wie wichtig die Unterstützung Anderer auf seiner eigenen Reise ist."
        />
    </Cards>
</template>