<script setup lang="ts">
import BackgroundImage from '../components/BackgroundImage.vue'
import Card from '../components/Card.vue'
import Cards from '../components/Cards.vue'

import sotdlImage from '../assets/img/tabletop/sotdl.jpg';
import dungeonWorldImage from '../assets/img/tabletop/dungeonWorld.jpg';
import dndImage from '../assets/img/tabletop/dnd.jpg';
import criticalRoleImage from '../assets/img/tabletop/criticalRole.jpg';
import spitzeStifteImage from '../assets/img/tabletop/spitzeStifte.jpg';
import foundryImage from '../assets/img/tabletop/foundry.jpg';

</script>

<template>
    <BackgroundImage image-name="tabletop" image-title="Tabletop" />
    <Cards>
        <Card
            card-title="Shadow of the Demon Lord"
            :card-image="sotdlImage"
            card-text="Shadow of the Demon Lord ist ein Grim-Dark Fantasy RPG mit leichtem Regelwerk und vielfältigen Möglichkeiten zur Charakterentwicklung. Der Autor Robert J. Schwalb wirkte auch an D&D 5E. Warhammer Fantasy und weiteren Regelwerken mit."
        />
        <Card
            card-title="Dungeon World"
            :card-image="dungeonWorldImage"
            card-text="Dungeon World ist ein ausgezeichnetes Fantasy RPG und war mein Einstieg in TTRPGs. Mit seinem Powered by the Apocalypse Design und Ansätzen wie Narrative-First und kollaborativen Story-Telling besitzt es ein Alleinstellungsmerkmal im Genre."
        />
        <Card
            card-title="Dungeons & Dragons"
            :card-image="dndImage"
            card-text="Der Urvater der Tisch-Rollenspiele ist mittlerweile in seiner fünften Edition verfügbar und erfreut sich größter Beliebtheit. Ein solides Regelwerk mit riesiger Fanbase und enorm viel Content und Conversions."
        />
        <Card
            card-title="Critical Role"
            :card-image="criticalRoleImage"
            card-text="Critical Role ist ein Phänomen in der Szene und verhalf dem Hobby zu einem neuen Aufschwung. Größen der amerikanischen Synchronsprecher-Branche spielen gemeinsam in epischen Kampagnen über Jahre hinweg für eine begeisterte Zuschauerschaft."
        />
        <Card
            card-title="RBTV #spitzeStifte"
            :card-image="spitzeStifteImage"
            card-text="#spitzeStifte ist das P&P-Format der Rocketbeans und entfachte 2015 mein grundlegendes Interesse an Tischrollenspielen. Auch Jahre danach erfreut sich das Format großer Beliebtheit und gilt für mich als der bedeutsamste Wegbereiter im deutschsprachigen Raum."
        />
        <Card
            card-title="FoundryVTT"
            :card-image="foundryImage"
            card-text="FoundryVTT ist eine self-gehostete Web-Anwendung um TTRPGs online zu spielen. Eine große Open Source Community sorgt für viele Regelwerke, Module und Addons. Mein Go-To Virtual Tabletop. (foundry.m4rcls.de)"
        />
    </Cards>
</template>