<script setup lang="ts">
import Old from './components/Old.vue';
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Profile from './components/Profile.vue';
import BackgroundImage from './components/BackgroundImage.vue';
import Games from './sections/Games.vue'
import Animes from './sections/Animes.vue';
import Tabletop from './sections/Tabletop.vue';
import Development from './sections/Development.vue';
</script>

<template>
    <Header />
    <Profile />
    <Games />
    <Animes />
    <Tabletop />
    <Development />
    <Footer />
</template>

<style lang="scss">
// https://colorhunt.co/palette/2b2e4ae8454590374953354a

$primary: #e84545;
$secondary: #903749;
$tertiary: #53354a;
$dark: #2b2e4a;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

body {
    display: flex;
    flex-direction: column;
    // background-image: repeating-linear-gradient(270deg, $dark, $tertiary, $secondary, $tertiary, $dark);
    color: #fff;
    margin: 0;
}

.profile,
.cards {
    background: linear-gradient(141deg, #2b2e4a, #903749, #53354a);
    background-size: 800% 800%;

    -webkit-animation: backgroundAnimation 15s ease infinite;
    -moz-animation: backgroundAnimation 15s ease infinite;
    -o-animation: backgroundAnimation 15s ease infinite;
    animation: backgroundAnimation 15s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@-moz-keyframes backgroundAnimation {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@-o-keyframes backgroundAnimation {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 94%;
    }
    50% {
        background-position: 100% 7%;
    }
    100% {
        background-position: 0% 94%;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #e84545;
    transition: 200ms color;
}
</style>
